.profile {
    display: flex;
    align-items: center;
}


.profile .userpic {
    width: 35px;
    height: 35px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-right: 7px;
}